body {
  margin: 0;
  background-color: #1e1e1e;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  width: 360px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 132px;
  padding: 24px 20px;
  align-items: flex-start;
  gap: 168px;
}

.header__logo {
  fill: #FFF;
}

.header__logo-image {
  width: 78.453px;
  height: 15.432px;
}


.header__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__menu-list {
  list-style: none;
}

.header__menu-item {
  color: var(--text-light, #F5F5F5);
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
}

.header__menu-item_active {
  margin-top: 12px;
}

.header__menu-link {
  color: var(--text-light, #F5F5F5);
  font-size: 16px;
  font-style: normal;
  line-height: 20px; 
  text-decoration-line: underline;
}

.cover {
  width: 100%;
  max-width: 340px;
  min-height: 198px;
  background-image: url('../images/cover.svg');
  background-repeat: no-repeat;
  background-size: 95% auto;
  background-position: bottom;
  margin-left: 21px;
  margin-top: 7px;
}

.cover__title {
  color: #fff;
  font-family: EB Garamond, Arial, Helvetica, sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.accent-span {
  display: block;
}

.text-center {
  display: block;
  text-align: center;
  padding-left: 46px;
  padding-right: 67px;
}

.text-right {
  display: block;
  text-align: end;
  padding-left: 154px;
  padding-right: 24px;
}

.intro {
  width: 100%;
  max-width: 320px;
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 20px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.intro__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--text-gray, #CCC);


  line-height: 120%; /* 19.2px */
}

.intro__title {
  width: 203px;
}

.intro__date {
  white-space: nowrap;
}

.intro__main-text {
  color: #F5F5F5;
  line-height: 21.6px; /* 135% */
  display: flex;
  flex-direction: column;
}

.intro__main-text p {
  margin-top: 24px;
}

.reasons {
  display: inline-flex;
  padding: 40px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  background-color: var(--yellow-bg, #FEE42A);
}

.content-section__subtitle {
  width: 320px;
  height: 63px;
  color: var(--black-bg, #131313);
  font-family: EB Garamond, Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%; /* 32.2px */
}

.reasons__text-right {
  display: block;
  text-align: right;
  width: 320px;
  height: 31.5px;
}

.reasons__accent-span {
  display: block;
  width: 320px;
  height: 31.5px;
}

.content-section__introduction {
  color: var(--black-bg, #131313);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 135% */
}

.content-section__list {
  display: flex;
  width: 320px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-left: 14px;
}

.content-section__list-accent {
  color: var(--black-bg, #131313);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21.6px; /* 135% */
}

.how-to {
  margin: 40px 20px;
  width: 100%;
  max-width: 320px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.how-to .reasons__text-right {
  color: #F5F5F5;
  text-align: right;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: EB Garamond;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%;
}

.how-to .reasons__accent-span {
  color: #F5F5F5;
  font-family: EB Garamond;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%; /* 32.2px */
}

.how-to .content-section__introduction {
  color: #F5F5F5;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%; /* 27px */
}

.card-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  list-style-type: none;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px 20px;
  border-radius: 30px;
}

.card_theme_dark {
  background: var(--gray-bg, #343434);
}

.card__author-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.card__author-name {
  color: #f5f5f5;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%; /* 21.6px */
}

.card__title {
  color: #f5f5f5;
  font-family: EB Garamond, Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 135%;
}

.card__text {
  color: #f5f5f5;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px;
}

.card_text-only {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px 20px;
}

.card_text-only .card__title {
  color: var(--black-bg, #131313);
  font-family: EB Garamond, Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 135%;
}


.card_text-only .card__text {
  color: var(--black-bg, #131313);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px;
}

.card_theme_bright {
  background: var(--yellow-bg, #fee42a);
  border-radius: 30px;
}

.content-section_footer {
  display: flex;
  width: 100%;
  max-width: 320px;
  margin-top: 60px;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--yellow-bg, #FEE42A);
}

.copy__logo {
  color: #F5F5F5;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%; /* 21.6px */
}

.footer__links {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  list-style-type: none;
}

.social__links {
  color: #F5F5F5;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 17.5px */
  text-decoration: none;
  transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;

}

.social__links:hover {
  opacity: 0.4;
}